@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {

}

header {

    font-family: 'Bungee', sans-serif;
    color: #ECF0F1;

    padding: 24px 8px;

    background-color: #381861;
}

header nav li{
    display: inline;
    margin-left: 16px;
}

header nav li a{
    color:#ECF0F1;
    text-decoration: none;
}

h2 {
    font-family: 'Bungee', sans-serif;
}

.brands-list img{
    height: 24px;
    display: inline;
}

.brands-list li {
    display: inline;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.container h2{
    display: inline;
}

header .container,
section .container {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

section {
    padding: 24px;
    margin: 16px;
}

section .container {
    padding: 16px;
    align-items: flex-start;
}

section .container div {
    margin: 16px;
}

section .container div p {
    margin: 16px 0;
}

footer {
    background-color: #381861;
    color: #ECF0F1;
    padding: 16px 0;
}